{% extends "base.html" %}

{% block content %}
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('hr.alljobs') }}">Back</a>
<div class="content-section">
	<div class="media-body">
		<h2 class="account-heading">{{ current_user.firstname }} {{ current_user.lastname }}</h2>
		<p class="text-secondary">{{ current_user.email }}</p>
		<p class="text-secondary" src="{{ cv }}">{{ cv }}</p>
	</div>
	<form method="POST" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Account Info</legend>
			<div class="form-group">
				{{ form.cv.label() }}
				{{ form.cv(class="form-control-file") }}
				{% if form.cv.errors %}
				  <span class="text-danger">{{ error }}</span><br/>
				{% endif %}
			</div>
		</fieldset>
		<div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
	</form>
</div>
{% endblock %}