{% extends "base.html" %}

{% block content %}
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('overview') }}">Overview</a>
{% for job in job.items %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="article-title mr-2" href="{{ url_for('job', titlequote=job.title) | urlencode }}">{{ job.title }}</a><br>
                <small class="text-muted">listed on {{ job.date_created.strftime("%d-%m-%Y") }}</small><br>
                <small class="article-content">{{ job.type }}</small>
            </div>
                <small class="article-content">${{ job.minpay }} - S{{ job.maxpay }}</p>
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('editjob', titlequote=job.title) | urlencode }}">Update</a>
                <button class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
        </div>
    </article>
{% endfor %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% for pagenum in job.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}
    {% if pagenum %}
        {% if job.page == pagenum %}
            <a class="btn btn-info mb-4" href="{{ url_for('alljobs', page=pagenum) }}">{{ pagenum }}</a>
        {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('alljobs', page=pagenum) }}">{{ pagenum }}</a>
        {% endif %}
    {% else %}
        ...
    {% endif %}
{% endfor %}
{% endblock %}