{% extends "base.html" %}

{% block content %}
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('applicants') }}">Back</a>
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h2 class="article-title">Applicant {{ application.id }}</h2>
            <small class="text-muted">{{ application.date_applied.strftime("%d-%m-%Y") }}</small>
            <p>Name: {{ application.applicant.firstname }}{{ application.applicant.lastname }}</p>
            <p>Email: {{ application.applicant.email }}</p>
            <p>Position: {{ application.job }}</p>
            <p>Test Score: {{ application.score }}</p>
            <p>Status: {{ application.status }}</p>
            Comments:
            <form method="post">
                <textarea name="comments">{{ application.comments }}</textarea>
                <input type="submit" value="Save">
                <p>
                    <button type="submit" name="status" value="Shortlisted">Shortlist</button>
                    <button type="submit" name="status" value="Accepted">Accept</button>
                    <button type="submit" name="status" value="Rejected">Reject</button>
                </p>
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                    <p>{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</article>
{% endblock %}