{% extends "base.html" %}

{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('overview') }}" style="text-decoration:none;">Overview</a></li>
        {% if not title %}
            <li class="breadcrumb-item active" aria-current="page">All Applicants</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Applicants For {{ title }}</li>
        {% endif %}
    </ol>
</nav>
{% if not title %}
    <h1 class="mb-3">All Applicants</h1>
{% else %}
    <h1 class="mb-3">Applicants for {{ title }}</h1>
{% endif %}
    <article class="media content-section">
        <div class="media-body">
            <div class="row mt-2 mb-3 text-end">
            <form method="POST">
                View:
                <select name="sort" onchange="this.form.submit()">
                    {% if sort == "Applied" %}
                        <option value="All">All</option>
                        <option selected value="Applied">Applied</option required>
                        <option value="Awaiting Interview">Awaiting Interview</option>
                        <option value="Reviewed">Reviewed</option>
                    {% elif sort == "Awaiting Interview" %}
                        <option value="All">All</option>
                        <option value="Applied">Applied</option required>
                        <option selected value="Awaiting Interview">Awaiting Interview</option>
                        <option value="Reviewed">Reviewed</option>
                    {% elif sort == "Reviewed" %}
                        <option value="All">All</option>
                        <option value="Applied">Applied</option required>
                        <option value="Awaiting Interview">Awaiting Interview</option>
                        <option selected value="Reviewed">Reviewed</option>
                    {% else %}
                        <option selected value="All">All</option>
                        <option value="Applied">Applied</option required>
                        <option value="Awaiting Interview">Awaiting Interview</option>
                        <option value="Reviewed">Reviewed</option>
                    {% endif %}
                </select>
            </form>
        </div>
                    <table class="table table-hover">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Position</th>
                                <th scope="col">Quiz Score</th>
                                <th scope="col">CV</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for applicant in applicants.items %}
                            <tr>
                                <th scope="row"><a class="mr-2 text-decoration-none", href="{{ url_for('applicant', appid=applicant.user_id) }}">{{ applicant.user_id }}</a></th>
                                <td><a class="mr-2 text-dark text-decoration-none", href="{{ url_for('applicants', titlequote=applicant.job) | urlencode }}">{{ applicant.job }}</a></td>
                                <td class="text-center"><a class="mr-2 text-decoration-none", href="{{ url_for('quiz') }}">{{ applicant.score }}</a></td>
                                <td><a href="#" style="text-decoration:none;">sample_cv.pdf</a></td>
                                <td>{{ applicant.status }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                </table>
                </div>
    </article>


     


                
    

{% for pagenum in applicants.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}
    {% if pagenum %}
        {% if applicants.page == pagenum %}
            <a class="btn btn-primary mb-4" href="{{ url_for('applicants', titlequote=title, page=pagenum) | urlencode }}">{{ pagenum }}</a>
        {% else %}
            <a class="btn btn-outline-primary mb-4" href="{{ url_for('applicants', titlequote=title, page=pagenum) | urlencode }}">{{ pagenum }}</a>
        {% endif %}
    {% else %}
        ...
    {% endif %}
{% endfor %}
{% endblock %}