{% extends "base.html" %}

{% block content %}
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('overview') }}">Back</a>
{% if not title %}
    <h1 class="mb-3">All Applicants</h1>
{% else %}
    <h1 class="mb-3">Applicants for {{ title }}</h1>
{% endif %}
    <article class="media content-section">
        <div class="media-body">
            {% for applicant in applicants %}
                <div class="article-metadata">
                    <p>
                        ID: {{ applicant.id }} | 
                        Position: {{ applicant.job }} | 
                        Test score: {{ applicant.score }} | 
                        Status: {{ applicant.status }}
                        <a class="mr-2", href="{{ url_for('applicant', appid=applicant.id) }}">View</a>
                    </p>
                </div>
            {% endfor %}
        </div>
    </article>


    <h3>Applicants</h3>
    Sort by:
    <form action="#", method="post">
        <select name="sort" onchange="this.form.submit()">
            <option disabled selected value="">ID</option required>
            <option value="Processing">Processing</option>
            <option value="Shortlisted">Shortlisted</option>
        </select>
    </form>
    {% if sort == "Processing" %}
        {% for applicant in applicants %}
            {% if applicant.status == "Processing" %}
                <p>
                    ID: {{ applicant.id }} | 
                    Position: {{ applicant.job }} | 
                    Test score: {{ applicant.score }} | 
                    Status: {{ applicant.status }}
                    <a href="/id{{ applicant.id }}">View</a>
                    <a href="/">Delete</a>
                </p>
            {% endif %}
            {% if  applicant.status == "Shortlisted" %}
                <p>
                    ID: {{ applicant.id }} | 
                    Position: {{ applicant.job }} | 
                    Test score: {{ applicant.score }} | 
                    Status: {{ applicant.status }}
                    <a href="/id{{ applicant.id }}">View</a>
                    <a href="/">Delete</a>
                </p>
            {% endif %}
        {% endfor %}

    {% elif sort == "Shortlisted" %}
        {% for applicant in applicants %}
            {% if  applicant.status == "Shortlisted" %}
                <p>
                    ID: {{ applicant.id }} | 
                    Position: {{ applicant.job }} | 
                    Test score: {{ applicant.score }} | 
                    Status: {{ applicant.status }}
                    <a href="/id{{ applicant.id }}">View</a>
                    <a href="/">Delete</a>
                </p>
            {% endif %}
            {% if  applicant.status == "Processing" %}
                <p>
                    ID: {{ applicant.id }} | 
                    Position: {{ applicant.job }} | 
                    Test score: {{ applicant.score }} | 
                    Status: {{ applicant.status }}
                    <a href="/id{{ applicant.id }}">View</a>
                    <a href="/">Delete</a>
                </p>
            {% endif %}
        {% endfor %}

    {% else %}
        {% for applicant in applicants %}
            {% if  applicant.status == "Processing" or applicant.status == "Shortlisted" %}
                <p>
                    ID: {{ applicant.id }} | 
                    Position: {{ applicant.job }} | 
                    Test score: {{ applicant.score }} | 
                    Status: {{ applicant.status }}
                    <a href="/id{{ applicant.id }}">View</a>
                    <a href="/">Delete</a>
                </p>
            {% endif %}
        {% endfor %}

    {% endif %}

{% for pagenum in applicant.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}
    {% if pagenum %}
        {% if posts.page == pagenum %}
            <a class="btn btn-info mb-4" href="{{ url_for('applicant', title=application.job, page=pagenum) }}">{{ pagenum }}</a>
        {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('applicant', title=application.job, page=pagenum) }}">{{ pagenum }}</a>
        {% endif %}
    {% else %}
        ...
    {% endif %}
{% endfor %}
{% endblock %}