{% extends "base.html" %}

{% block content %}
    <form action="/" method="post">
        <input type="hidden" name="email" value="admin">
        <input type="submit" value="back">
    </form>
    <h3>Applicants</h3>
    Sort by:
    <form action="#", method="post">
        <select name="sort">
            <option disabled selected value="">ID</option required>
            <option value="Processing">Processing</option>
            <option value="Shortlisted">Shortlisted</option>
        </select>
    </form>
    {% if sort == "Processing" %}
        {% for applicant in applicants %}
            {% if applicant.status == "Processing" %}
                <p>
                    ID: {{ applicant.id }} | 
                    Position: {{ applicant.job }} | 
                    Test score: {{ applicant.score }} | 
                    Status: {{ applicant.status }}
                    <a href="/id{{ applicant.id }}">View</a>
                    <a href="/">Delete</a>
                </p>
            {% endif %}
            {% if  applicant.status == "Shortlisted" %}
                <p>
                    ID: {{ applicant.id }} | 
                    Position: {{ applicant.job }} | 
                    Test score: {{ applicant.score }} | 
                    Status: {{ applicant.status }}
                    <a href="/id{{ applicant.id }}">View</a>
                    <a href="/">Delete</a>
                </p>
            {% endif %}
        {% endfor %}

    {% elif sort == "Shortlisted" %}
        {% for applicant in applicants %}
            {% if  applicant.status == "Shortlisted" %}
                <p>
                    ID: {{ applicant.id }} | 
                    Position: {{ applicant.job }} | 
                    Test score: {{ applicant.score }} | 
                    Status: {{ applicant.status }}
                    <a href="/id{{ applicant.id }}">View</a>
                    <a href="/">Delete</a>
                </p>
            {% endif %}
            {% if  applicant.status == "Processing" %}
                <p>
                    ID: {{ applicant.id }} | 
                    Position: {{ applicant.job }} | 
                    Test score: {{ applicant.score }} | 
                    Status: {{ applicant.status }}
                    <a href="/id{{ applicant.id }}">View</a>
                    <a href="/">Delete</a>
                </p>
            {% endif %}
        {% endfor %}

    {% else %}
        {% for applicant in applicants %}
            {% if  applicant.status == "Processing" or applicant.status == "Shortlisted" %}
                <p>
                    ID: {{ applicant.id }} | 
                    Position: {{ applicant.job }} | 
                    Test score: {{ applicant.score }} | 
                    Status: {{ applicant.status }}
                    <a href="/id{{ applicant.id }}">View</a>
                    <a href="/">Delete</a>
                </p>
            {% endif %}
        {% endfor %}

    {% endif %}
{% endblock %}