{% extends "base.html" %}

{% block content %}
    <form action="/applicants" method="get">
        <input type="submit" value="back">
    </form>
    <h3>Applicant {{ applicant.id }}</h3>
    <p>Name: {{ applicant.name }}</p>
    <p>Email: {{ applicant.email }}</p>
    <p>Position: {{ applicant.job }}</p>
    <p>Test Score: {{ applicant.score }}</p>
    <p>Status: {{ applicant.status }}</p>
    Comments:
    <form method="post">
        <textarea name="comments">{{ applicant.comments }}</textarea>
        <input type="submit" value="Save">
        <p>
            <button type="submit" name="status" value="Shortlisted">Shortlist</button>
            <button type="submit" name="status" value="Accepted">Accept</button>
            <button type="submit" name="status" value="Rejected">Reject</button>
        </p>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}