{% extends "base.html" %}

{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('overview') }}" style="text-decoration:none;">Overview</a></li>
        <li class="breadcrumb-item active" aria-current="page">Completed</li>
    </ol>
</nav>
    <h3>Completed</h3>
    {% for applicant in applicants %}
        <p>
            ID: {{ applicant.id }} | 
            Position: {{ applicant.job }} | 
            Test score: {{ applicant.score }} | 
            Status: {{ applicant.status }}
            <a href="{{ url_for('applicant', appid=applicant.id) }}">View</a>
            <a href="/">Delete</a>
        </p>
    {% endfor %}
{% endblock %}