{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Apply For Job</h1>
    <form method="POST">
        <input type="text" name="name" placeholder="Name" autocomplete="off" required>
        <br>
        <input type="text" name="email" placeholder="Email" autocomplete="off" required>
        <br>
        <select name="job">
            <option disabled selected value="">Job</option required>
            <option value="Enrolled Nurse">Enrolled Nurse</option>
            <option value="Resident Physician">Resident Physician</option>
            <option value="Cardiac Technologist">Cardiac Technologist</option>
            <option value="Respiratory Therapist">Respiratory Therapist</option>
        </select>
        <br>
            <p>
                <label for="cv">File Upload</label>
                <input type="file" name="cv" accept=".doc, .docx, .pdf">
            </p>
        <br>
        <input type="number" min="0" max="10" name="score" placeholder="Score (out of 10)" autocomplete="off">
        <br>
        <input type="submit" value="Apply">
    </form>
    <h1>Ask a Question</h1>
    <form method="post">
        <input type="text" name="name2" placeholder="Name" autocomplete="off" required>
        <br>
        <input type="text" name="email2" placeholder="Email" autocomplete="off" required>
        <br>
        <textarea name="question"></textarea>
        <br>
        <input type="submit" value="Ask">
    </form>
{% endblock %}