{% extends "base_auth.html" %}

{% block content %}
<div class="content-section">
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="mb-3">Reset Password</legend>
			<div class="mb-3">
				{% if form.email.errors %}
					{{ form.email(class="form-control is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.email.errors %}
							<span>{{ error }}</span><br>
						{% endfor %}
					</div>
				{% else %}
					{{ form.email(class="form-control") }}
				{% endif %}
			</div>
		</fieldset>
		<div class="d-grid col-3 mx-auto mb-3">{{ form.submit(class="btn btn-primary") }}</div>
	</form>
</div>
<div class="pt-2 text-center">
	<small class="text-muted"> Back to <a class="ml-2" href="{{ url_for('auth.login') }}">Log In</a></small>
</div>
{% endblock %}