{% extends "base_auth.html" %}

{% block content %}
<div class="content-section">
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="mb-3">Create Account</legend>
            <div class="row">
                <div class="col-6 mb-3">
                    {% if form.firstname.errors %}
                        {{ form.firstname(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.firstname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.firstname(class="form-control") }}
                    {% endif %}
                </div>
                <div class="col-6 mb-3">
                    {% if form.lastname.errors %}
                        {{ form.lastname(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.lastname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.lastname(class="form-control") }}
                    {% endif %}
                </div>
            </div>
			<div class="mb-3">
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
				{% else %}
                    {{ form.email(class="form-control") }}
                {% endif %}
			</div>
			<div class="mb-3">
                {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
				{% else %}
                    {{ form.password(class="form-control") }}
                {% endif %}
			</div>
			<div class="mb-3">
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
				{% else %}
                    {{ form.confirm_password(class="form-control") }}
                {% endif %}
			</div>
		</fieldset>
		<div class="d-grid col-4 mx-auto mb-3">{{ form.submit(class="btn btn-primary") }}</div>
	</form>
</div>
<div class="pt-2 mb-5 text-center">
	<small class="text-muted"> Already Have an Account? <a class="ml-2" href="{{ url_for('auth.login') }}">Log In</a></small>
</div>
{% endblock %}